.footer {
    background-color: hsl(163.16deg 33.73% 66.86%);

    .wrapper {
        display: grid;
        grid-template-rows: 50px auto auto 50px;
        gap: 2rem;
        justify-items: center;
    }

    &__branding {
        grid-row: 2 / 2;
    }

    &__logo {
        svg {
            path {
                // Wider logo
                fill: hsl(167.67deg 45.34% 31.57%);
            }
        }
    }

    &__nav_menu {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;

        margin-bottom: 5rem;

        &_item {
            margin: 1rem 0 0;
            font-size: 1.2rem;
            color: $dark-blue;

            &:hover {
                color: $color-white;
            }
        }

        @media screen and (min-width: 768px) {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 3rem;
            margin-bottom: 0;

            &_item {
                margin: 1rem 0 5rem;
            }
        }
    }

    &__links {
        grid-row: 3 / 4;

        .social__nav {
            &_menu {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 0;
                justify-items: center;

                margin: 0 2rem;

                &_item {
                    &_link {
                        &:hover {
                            svg path {
                                fill: $color-white;
                            }
                        }
                    }
                }
            }
        }
    }

}