.header {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    padding: 1.5rem 2rem;

    background-color: #3ebfff;

    .header__logo {
        cursor: pointer;
        width: 150px;
    }
}