<nav class='footer__nav'>
  <ul class='footer__nav_menu'>
    <li class='footer__nav_menu_item'>
      <a class='footer__nav_menu_item_link' href='#about'>About</a>
    </li>
    <li class='footer__nav_menu_item'>
      <a class='footer__nav_menu_item_link' href='#services'>Services</a>
    </li>
    <li class='footer__nav_menu_item'>
      <a class='footer__nav_menu_item_link' href='#testimonials'>Testimonials</a
      >
    </li>
    <li class='footer__nav_menu_item'>
      <a class='footer__nav_menu_item_link' href='#projects'>Projects</a>
    </li>
  </ul>
</nav>
