<nav class='footer__nav'>
  <ul class='footer__nav_menu'>
    <li class='footer__nav_menu_item'>
      <a class='footer__nav_menu_item_link' href='#'>About</a>
    </li>
    <li class='footer__nav_menu_item'>
      <a class='footer__nav_menu_item_link' href='#'>Services</a>
    </li>
    <li class='footer__nav_menu_item'>
      <a class='footer__nav_menu_item_link' href='#'>Projects</a>
    </li>
  </ul>
</nav>
