<ul class='navigation'>
  <li class='navigation__item'>About</li>
  <li class='navigation__item'>Services</li>
  <li class='navigation__item'>Projects</li>
  <li class='navigation__item navigation__item--contact'>Contact</li>
</ul>
