<ul class='navigation'>
  <li class='navigation__item'>
    <a href='#about' class='navigation__link'>About</a>
  </li>
  <li class='navigation__item'>
    <a href='#services' class='navigation__link'>Services</a>
  </li>
  <li class='navigation__item'>
    <a href='#testimonials' class='navigation__link'>Testimonials</a>
  </li>
  <li class='navigation__item'>
    <a href='#projects' class='navigation__link'>Projects</a>
  </li>
  <li class='navigation__item navigation__item--contact'>
    <a href='#contact' class='navigation__link'>Contact</a>
  </li>
</ul>
