---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero/Hero.astro'
import Picture from '../components/Picture.astro'
import Services from '../components/Services.astro'
import Testimonials from '../components/Testimonials.astro'
import Gallery from '../components/Gallery.astro'

type Props = {}

const {} = Astro.props
---

<Layout title='Home' pageClass='design' showFooter={false} showISI={false}>
  <Hero layout='absolute' fullHeight>
    <div slot='hero-content'>
      <h1 class='hero-content__title'>We are creatives</h1>
      <img
        class='hero-content__arrow-down'
        src='/assets/images/icon-arrow-down.svg'
        alt='Arrow down'
      />
    </div>
    <Picture
      className='hero-image'
      imgClassName='hero-image__img'
      slot='hero-image'
      src='/assets/images/hero/image-header.jpg'
      alt='hero image'
    />
  </Hero>

  <Services />

  <Testimonials />

  <Gallery />

  <div class='attribution'>
    Challenge by <a
      href='https://www.frontendmentor.io?ref=challenge'
      target='_blank'>Frontend Mentor</a
    >. Coded by <a href='#'>Your Name Here</a>.
  </div>
</Layout>
