---
import HeaderNavigation from './Navigation/HeaderNavigation.astro'
import logo from '../assets/images/logo.svg'
---

<header class='header'>
  <a href='/'>
    <picture class='header__logo-picture'>
      <source srcset={logo} type='image/svg+xml' />
      <img class='header__logo' src={logo} alt='Sunnyside logo' />
    </picture>
  </a>

  <img
    class='navigation__item--hamburguer'
    src='/assets/images/icon-hamburger.svg'
    alt='Icon menu'
  />
  <HeaderNavigation />
</header>

<script>
  const hamburguer = document.querySelector('.navigation__item--hamburguer')
  const navigation = document.querySelector('.navigation')

  hamburguer.addEventListener('click', () => {
    navigation.classList.toggle('navigation--active')
  })
</script>
