<nav class='social__nav'>
  <ul class='social__nav_menu'>
    <li class='social__nav_menu_item'>
      <a class='social__nav_menu_item_link' href='#'>
        <img
          src='/assets/images/social-media/icon-facebook.svg'
          alt="Facebook's icon"
        />
      </a>
    </li>
    <li class='social__nav_menu_item'>
      <a class='social__nav_menu_item_link' href='#'>
        <img
          src='/assets/images/social-media/icon-instagram.svg'
          alt="Instagram's icon"
        />
      </a>
    </li>
    <li class='social__nav_menu_item'>
      <a class='social__nav_menu_item_link' href='#'>
        <img
          src='/assets/images/social-media/icon-twitter.svg'
          alt="Twiter's icon"
        />
      </a>
    </li>
    <li class='social__nav_menu_item'>
      <a class='social__nav_menu_item_link' href='#'>
        <img
          src='/assets/images/social-media/icon-pinterest.svg'
          alt="Pinterest's icon"
        />
      </a>
    </li>
  </ul>
</nav>
