---
import FbIcon from '/assets/images/social-media/icon-facebook.svg?raw'
import IgIcon from '/assets/images/social-media/icon-instagram.svg?raw'
import TwIcon from '/assets/images/social-media/icon-twitter.svg?raw'
import PiIcon from '/assets/images/social-media/icon-pinterest.svg?raw'
---

<nav class='social__nav'>
  <ul class='social__nav_menu'>
    <li class='social__nav_menu_item'>
      <a class='social__nav_menu_item_link' href='#'>
        <Fragment set:html={FbIcon} />
      </a>
    </li>
    <li class='social__nav_menu_item'>
      <a class='social__nav_menu_item_link' href='#'>
        <Fragment set:html={IgIcon} />
      </a>
    </li>
    <li class='social__nav_menu_item'>
      <a class='social__nav_menu_item_link' href='#'>
        <Fragment set:html={TwIcon} />
      </a>
    </li>
    <li class='social__nav_menu_item'>
      <a class='social__nav_menu_item_link' href='#'>
        <Fragment set:html={PiIcon} />
      </a>
    </li>
  </ul>
</nav>
