---
import Testimonial from './Testimonial.astro'
---

<section class='testimonials'>
  <h2 class='testimonials__title'>Client testimonials</h2>

  <div class='testimonials__wrap'>
    <Testimonial
      photo='/assets/images/image-emily.jpg'
      altPhoto="Emily's photo"
      comment='We put our trust in Sunnyside and they delivered, making sure our needs were met and deadlines were always hit.'
      name='Emily R.'
      position='Marketing Director'
    />

    <Testimonial
      photo='/assets/images/image-thomas.jpg'
      altPhoto='Thomas photo'
      comment='Sunnyside’s enthusiasm coupled with their keen interest in our brand’s success made it a satisfying and enjoyable experience.'
      name='Thomas S.'
      position='Chief Operating Officer'
    />

    <Testimonial
      photo='/assets/images/image-jennie.jpg'
      altPhoto="Jennie's photo"
      comment='Incredible end result! Our sales increased over 400% when we worked with Sunnyside. Highly recommended!'
      name='Jennie F.'
      position='Business Owner'
    />
  </div>
</section>

<style lang='scss'>
  // Testimonials
  .testimonials {
    scroll-snap-align: start;
    height: auto;
    display: grid;
    place-items: center;
    gap: 0;

    &__title {
      text-align: center;
      font-size: 1.5rem;
      font-family: 'Fraunces', serif;
      color: hsl(210deg 4% 67%);
      text-transform: uppercase;
      letter-spacing: 0.5rem;
      margin: 6rem 0 1rem 0;
      align-self: end;
    }

    @media screen and (min-width: 768px) {
      height: 100vh;
      grid-template-columns: 50px auto 50px;
      grid-template-rows: 25% auto auto 25%;
      &__wrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-start: 3;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 2;
      }

      &__title {
        margin: 0;
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 2;
        align-self: end;
      }
    }
  }
</style>
